# All langchain-related
langchain
langchain_community
langchain-huggingface
langchain-openai
langchain-chroma

pypdf       # For reading PDF files
chromadb
streamlit
huggingface-hub
sentence-transformers
python-dotenv